{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <img src="{% static 'mysite/mouse.png' %}" class="img-fluid rounded float-left " style="width: 100px;height: 100px"
         alt="Logo">
    <h1 class="display-4 justify-content-center">Hello, world!</h1>
    <div class="clearfix"></div>
  </div>
</div>
{% block title %}
  标题
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  底部
{% endblock %}
</body>
</html>