# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\2022年代码汇总\mysite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
